@{
    ViewData["Dependency Injection"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Demo is about using Dependency Injection in .Net Core Web Applications.</p>
</div>
